
header{
    background-image: url('images/navbar.png');
    background-size: cover;/* ajusta o tamnho da imagem para cobrir todo o cabeçalho */
    background-repeat: no-repeat;/* impede repetições de imagem*/
    background-position: center center ;/* centraliza a imagem verticalmente e horizontal*/
    padding: 10px;/* espaçamento interno*/
    text-align: center;/* centraliza o conteudo*/
    color: #333;/*cor do texto*/
    height: 200px;/* altura do nosso nav bar*/
}



.sidebar{
    background-color: #333;
    color: white;
    width: 200px;
    position: fixed;
    text-align: center;
    letter-spacing: 2px;
    height: 100%;
    overflow: auto;
    
}

/*itens do menu*/
.sidebar ul{
    list-style: none;
    padding: 0;
}

.sidebar ul li {
    padding: 10px;
}

.sidebar ul li:hover {
    background-color: #555; /* Cor de fundo ao passar o mouse */
}



.sidebar ul li a {
    text-decoration: none;
    color: white;
}

.sidebar ul li:not(:last-child) {
    border-bottom: 1px solid #444; /* Adiciona uma borda inferior cinza entre as li */
}

main{
    margin-top: 25px;
    position: absolute;
    left: 15%;/* largura da barra lateral*/
    right: 30%;
    text-align: center;
    display: flex;
    justify-content: center;
}

main h1{
    font-size: 30px; /* Tamanho da fonte do h1 */
    padding: 10px; /* Espaçamento interno do h1 */
}

#form_reg {
    width: 150%;
  
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Estilo para o seletor de aluno */
.form-select {
    width: 25%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #fff;
}


.form-control {
    width: 25%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #fff;
}

/* Estilo para o rótulo do aluno */
label {
    font-weight: bold;
    color: #333;
}

.container {
    
    
   
    box-sizing: border-box;
}