
header{
    background-image: url('images/navbar.png');
    background-size: cover;/* ajusta o tamnho da imagem para cobrir todo o cabeçalho */
    background-repeat: no-repeat;/* impede repetições de imagem*/
    background-position: center center ;/* centraliza a imagem verticalmente e horizontal*/
    padding: 10px;/* espaçamento interno*/
    text-align: center;/* centraliza o conteudo*/
    color: #333;/*cor do texto*/
    height: 200px;/* altura do nosso nav bar*/
}



.sidebar{
    background-color: #333;
    color: white;
    width: 200px;
    position: absolute;
    text-align: center;
    letter-spacing: 2px;
    height: 100%;
    overflow: auto;
    
}

/*itens do menu*/
.sidebar ul{
    list-style: none;
    padding: 0;
}

.sidebar ul li {
    padding: 10px;
}

.sidebar ul li:hover {
    background-color: #555; /* Cor de fundo ao passar o mouse */
}



.sidebar ul li a {
    text-decoration: none;
    color: white;
}

.sidebar ul li:not(:last-child) {
    border-bottom: 1px solid #444; /* Adiciona uma borda inferior cinza entre as li */
}

/* Estilos para o formulário */
.form-group {
    display: flex;
    flex-direction: row;
    align-items: center;
}

h1 {
    font-size: 24px;
    margin-bottom: 20px;
}

/* Estilos para os campos de entrada e seleção */
label {
    font-weight: bold;
    flex: 1;
    margin-right: 10px;
}

input[type="text"],
input[type="email"],
select,
textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

/* Estilos para os botões */
.btn {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

.btn:hover {
    background-color: #0056b3;
}

/* Estilos para a seção de informações do aluno selecionado */
.aluno-nome {
    font-weight: bold;
    margin-bottom: 10px;
}

/* Estilos para as opções de select */
.form-select {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 3px;
    background-color: #f8f8f8;
}

/* Estilos para a seção de OBS */
textarea {
    resize: vertical;
}

/* Estilos para as mensagens de erro */
.error-message {
    color: #ff0000;
    font-size: 14px;
    margin-top: 5px;
}

/* Estilos para a seção principal */
main {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}
